.results {
  max-width: 400px;
  margin: auto;
  margin-top: 12rem;

  @include breakpoint-up($defaultScreenBreak) {
    max-width: 70%;
  }

  &__picked {
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.5rem;
    flex-wrap: wrap;

    @include breakpoint-up($defaultScreenBreak) {
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
    }

    &__final-reset {
      order: 3;
      text-align: center;
      flex-basis: 100%;
      margin-top: 7.2rem;

      @include breakpoint-up($defaultScreenBreak) {
        order: 0;
        flex-basis: 0;
        margin-top: 0;
        margin: 0 7rem;
      }

      h1 {
        margin: 0;
        font-size: 5rem;
        color: $bgGeneral;
        margin-bottom: 2.6rem;
      }

      button {
        width: 22rem;
        height: 4.8rem;
        background-color: $bgGeneral;
        color: $bgFrom;
        border: none;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        font-weight: 700;
        border-radius: 8px;
      }
    }

    &__card {
      height: 17.5rem;
      position: relative;

      @include breakpoint-up($defaultScreenBreak) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        margin-right: 3rem;
        margin-left: 3rem;
        height: 40rem;
      }

      .circle {
        width: 11rem;
        height: 11rem;
        background-color: rgba(14, 16, 42, 0.5);
        border-radius: 50%;
        position: relative;

        @include breakpoint-up($defaultScreenBreak) {
          width: 28rem;
          height: 28rem;
        }

        #scissors,
        #paper,
        #spock,
        #lizard,
        #rock {
          position: absolute;
          top: -1rem;
          left: -0.5rem;
          z-index: 100;
        }

        #scissors {
          background-image: linear-gradient($scissorsFrom, $scissorsTo);
          box-shadow: 0 3px 0px rgb(141, 101, 19);
        }

        #paper {
          background-image: linear-gradient($paperFrom, $paperTo);
          box-shadow: 0 3px 0px rgb(53, 83, 235);
        }

        #spock {
          background-image: linear-gradient($cyanFrom, $cyanTo);
          box-shadow: 0 3px 0px rgb(83, 149, 160);
        }

        #lizard {
          background-image: linear-gradient($lizardFrom, $lizardTo);
          box-shadow: 0 3px 0px rgb(98, 54, 170);
        }

        #rock {
          background-image: linear-gradient($rockFrom, $rockTo);
          box-shadow: 0 3px 0px rgb(160, 21, 50);
        }

        .hex__button {
          @include button(13rem, 10rem, 1.5rem);
          @include breakpoint-up($defaultScreenBreak) {
            @include button(30rem, 24rem, 3rem);
          }
        }
      }

      h1 {
        text-align: center;
        color: $bgGeneral;
        margin-top: 3.5rem;

        @include breakpoint-up($defaultScreenBreak) {
          margin-top: 0;
          margin-bottom: 7rem;
          font-size: 2rem;
          letter-spacing: 0.5rem;
        }
      }

      .winning-circles {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 28.5rem;
          height: 28.5rem;
          background-color: rgba(252, 252, 252, 0.02);
          border-radius: 50%;
          z-index: -10;

          @include breakpoint-up($defaultScreenBreak) {
            width: 74rem;
            height: 74rem;
          }
        }

        position: absolute;
        top: 50%;
        left: 54%;
        transform: translate(-50%, -50%);
        width: 22rem;
        height: 22rem;
        background-color: rgba(252, 252, 252, 0.05);
        border-radius: 50%;
        z-index: -10;
        @include breakpoint-up($defaultScreenBreak) {
          width: 57rem;
          height: 57rem;
          transform: translate(-51%, -51%);
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 16.5rem;
          height: 16.5rem;
          background-color: rgba(252, 252, 252, 0.08);
          border-radius: 50%;
          z-index: -10;
          @include breakpoint-up($defaultScreenBreak) {
            width: 43rem;
            height: 43rem;
          }
        }
      }
    }
  }
}
