.results {
  max-width: 400px;
  margin: auto;
  margin-top: 12rem;

  &__picked {
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.5rem;
    flex-wrap: wrap;

    &__final-reset {
      order: 3;
      text-align: center;
      flex-basis: 100%;
      margin-top: 7.2rem;

      h1 {
        margin: 0;
        font-size: 5rem;
        color: $bgGeneral;
        margin-bottom: 2.6rem;
      }

      button {
        width: 22rem;
        height: 4.8rem;
        background-color: $bgGeneral;
        color: $bgFrom;
        border: none;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        font-weight: 700;
        border-radius: 8px;
      }
    }

    &__card {
      height: 17.5rem;
      position: relative;

      .circle {
        width: 11rem;
        height: 11rem;
        background-color: rgba(14, 16, 42, 0.5);
        border-radius: 50%;
        position: relative;

        #scissors {
          background-image: linear-gradient($scissorsFrom, $scissorsTo);
          box-shadow: 0 3px 0px rgb(141, 101, 19);
          position: absolute;
          top: -1rem;
          left: -0.5rem;
          z-index: 100;
        }

        #paper {
          background-image: linear-gradient($paperFrom, $paperTo);
          box-shadow: 0 3px 0px rgb(53, 83, 235);
          position: absolute;
          top: -1rem;
          left: -0.5rem;
          z-index: 100;
        }

        #spock {
          background-image: linear-gradient($cyanFrom, $cyanTo);
          box-shadow: 0 3px 0px rgb(83, 149, 160);
          position: absolute;
          top: -1rem;
          left: -0.5rem;
          z-index: 100;
        }

        #lizard {
          background-image: linear-gradient($lizardFrom, $lizardTo);
          box-shadow: 0 3px 0px rgb(98, 54, 170);
          position: absolute;
          top: -1rem;
          left: -0.5rem;
          z-index: 100;
        }

        #rock {
          background-image: linear-gradient($rockFrom, $rockTo);
          box-shadow: 0 3px 0px rgb(160, 21, 50);
          position: absolute;
          top: -1rem;
          left: -0.5rem;
          z-index: 100;
        }

        .hex__button {
          @include button(13rem, 10rem, 1.5rem);
        }
      }

      h1 {
        text-align: center;
        color: $bgGeneral;
        margin-top: 3.5rem;
      }

      .winning-circles {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 28.5rem;
          height: 28.5rem;
          background-color: rgba(252, 252, 252, 0.02);
          border-radius: 50%;
        }

        position: absolute;
        top: 50%;
        left: 54%;
        transform: translate(-50%, -50%);
        width: 22rem;
        height: 22rem;
        background-color: rgba(252, 252, 252, 0.05);
        border-radius: 50%;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 16.5rem;
          height: 16.5rem;
          background-color: rgba(252, 252, 252, 0.08);
          border-radius: 50%;
        }
      }
    }
  }
}
