.rules {
  &__butt {
    position: absolute;
    top: 70rem;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
    border: 2px solid $headerOutline;
    color: $bgGeneral;
    width: 13rem;
    height: 4.1rem;
    border-radius: 8px;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;

    @include breakpoint-up($defaultScreenBreak) {
      left: 92%;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__rule-cont {
    padding: 10rem 0rem;
    background-color: $bgGeneral;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint-up($defaultScreenBreak) {
      width: 40rem;
      height: 46rem;
      border-radius: 8px;
      padding: 3.5rem 3.5rem;
      display: grid;
      grid-template-rows: 4rem 35rem;
      grid-template-columns: 90% 10%;

      .rule-close {
        grid-row: 1 /2;
      }

      img {
        grid-row: 2/3;
        grid-column: 1/3;
        justify-self: center;
        align-self: center;
      }
    }

    .rule-title {
      font-size: 3rem;
      color: $darkText;
      margin-bottom: 10rem;
      margin-top: 0;

      @include breakpoint-up($defaultScreenBreak) {
        grid-row: 1/2;
        margin-bottom: 0;
      }
    }

    .rule-close {
      margin-top: 13rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      transition: transform 0.3s;

      @include breakpoint-up($defaultScreenBreak) {
        margin-top: 0;
      }

      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}
